<div class="product-details-tab">
    <ul ngbNav #nav="ngbNav" class="justify-content-center nav nav-pills">
        <li ngbNavItem>
            <a ngbNavLink>
                Descriere
            </a>
            <ng-template ngbNavContent>
                <div class="product-desc-content">
                    <h3>Informații Produs</h3>
                    <p class="pb-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                        volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a,
                        pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                        Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec
                        consectetuer ligula vulputate sem tristique cursus. </p>
                    <ul>
                        <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                        <li>Vivamus finibus vel mauris ut vehicula.</li>
                        <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a,
                        pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                        Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec
                        consectetuer ligula vulputate sem tristique cursus. </p>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>
                Informații Aditionale
            </a>
            <ng-template ngbNavContent>
                <div class="product-desc-content">
                    <h3>Informații</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a,
                        pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                    </p>

                    <h3 class="pt-2">Altele</h3>
                    <ul>
                        <li>Faux suede fabric</li>
                        <li>Gold tone metal hoop handles.</li>
                        <li>RI branding</li>
                        <li>Snake print trim interior </li>
                        <li>Adjustable cross body strap</li>
                        <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                    </ul>

                    <h3>Mărimi</h3>
                    <p>one size</p>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>
                Transport & Retur
            </a>
            <ng-template ngbNavContent>
                <div class="product-desc-content">
                    <h3>Livrare & Returnare</h3>
                    <p>We deliver to over 100 countries around the world. For full details of the delivery options we
                        offer, please view our <a href="javascript:;">Delivery information</a><br>
                        We hope you’ll love every purchase, but if you ever need to return an item you can do so within
                        a month of receipt. For full details of how to make a return, please view our <a
                            href="javascript:;">Returns information</a></p>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>
                Păreri ({{ product.review }})
            </a>
            <ng-template ngbNavContent>
                <div class="reviews">
                    <h3>Păreri clienți</h3>
                    <div class="review">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <h4><a href="javascript:;">Georgică Ion</a></h4>
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" [style.width]="product.ratings * 20 + '%'"></div>
                                        <span class="tooltip-text">{{ product.ratings.toFixed(2) }}</span>
                                    </div>
                                </div>
                                <span class="review-date">6 zile în urmă</span>
                            </div>
                            <div class="col">
                                <h4>Perfect, se potrivește la fix</h4>

                                <div class="review-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores
                                        assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis
                                        commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae
                                        voluptas!</p>
                                </div>

                                <div class="review-action">
                                    <a href="javascript:;"><i class="icon-thumbs-up"></i>Util (2)</a>
                                    <a href="javascript:;"><i class="icon-thumbs-down"></i>Inutil (0)</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="review">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <h4><a href="javascript:;">Alexandra Dima</a></h4>
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" [style.width]="product.ratings * 20 + '%'"></div>
                                        <span class="tooltip-text">{{ product.ratings.toFixed(2) }}</span>
                                    </div>
                                </div>
                                <span class="review-date">4 zile în urmă</span>
                            </div>
                            <div class="col">
                                <h4>Foarte bune, sunt încântată.</h4>

                                <div class="review-content">
                                    <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis
                                        laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure
                                        illum repellendus, blanditiis perspiciatis beatae!</p>
                                </div>

                                <div class="review-action">
                                    <a href="javascript:;"><i class="icon-thumbs-up"></i>Util (0)</a>
                                    <a href="javascript:;"><i class="icon-thumbs-down"></i>Inutil (1)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reply">
                    <div class="title-wrapper text-left">
                        <h3 class="title title-simple text-left text-normal">Adaugă o Părere
                        </h3>
                        <p>Adresa ta de email nu va apărea în rubrică. Câmpurile obligatorii
                            sunt marcate cu *
                        </p>
                    </div>
                    <div class="rating-form">
                        <label for="rating" class="text-dark">Ratingul tău * </label>
                        <span class="rating-stars selected">
                            <a [class]="'star-' + num " href="javascript:;" (click)="setRating($event)"
                                *ngFor="let num of [1,2,3,4,5]">{{ num }}</a>
                        </span>

                        <select name="rating" id="rating" required="" style="display: 'none'">
                            <option value="">Rating…</option>
                            <option value="5">Super</option>
                            <option value="4">Bun</option>
                            <option value="3">Mediu</option>
                            <option value="2">Nu e rău</option>
                            <option value="1">Nașpa</option>
                        </select>
                    </div>
                    <form action="#">
                        <textarea id="reply-message" cols="30" rows="6" class="form-control mb-2"
                            placeholder="Comentariu *" required></textarea>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="reply-name" name="reply-name"
                                    placeholder="Nume *" required />
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" id="reply-email" name="reply-email"
                                    placeholder="Email *" required />
                            </div>
                        </div>
                        <div class="form-checkbox d-flex align-items-start mb-2">
                            <input type="checkbox" class="custom-checkbox" id="signin-remember"
                                name="signin-remember" />
                            <label class="form-control-label ml-3" for="signin-remember">
                                Salvează-mi numele și emailul, pentru comentarii ulterioare.
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Aplică</button>
                    </form>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div>