<footer class="footer mt-3">
    <!-- <div class="service" [ngClass]="containerClass">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="icon-rocket"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Free Shipping</h3>
                        <p>Orders $50 or more</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="icon-rotate-left"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Free Returns</h3>
                        <p>Within 30 days</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="icon-info-circle"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                        <p>When you sign up</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="icon-box icon-box-side">
                    <span class="icon-box-icon">
                        <i class="icon-life-ring"></i>
                    </span>

                    <div class="icon-box-content">
                        <h3 class="icon-box-title">We Support</h3>
                        <p>24/7 amazing services</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="footer-middle">
        <div [ngClass]="containerClass">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <a routerLink="/">
                            <img src="assets/images/home/logo.png" alt="Footer Logo" class="footer-logo" width="110"
                                height="28"></a>
                        <p>
                            Magazin de prezentare și comercializare produse cu amănuntul. Deschis din anul 1990,
                            SuitStore oferă servicii complete de sport și camping.
                        </p>

                        <div class="social-icons">
                            <a href="javascript:;" class="social-icon" title="Facebook"><i
                                    class="icon-facebook-f"></i></a>
                            <a href="javascript:;" class="social-icon" title="Twitter"><i class="icon-twitter"></i></a>
                            <a href="javascript:;" class="social-icon" title="Instagram"><i
                                    class="icon-instagram"></i></a>
                            <a href="javascript:;" class="social-icon" title="Youtube"><i class="icon-youtube"></i></a>
                            <a href="javascript:;" class="social-icon" title="Pinterest"><i
                                    class="icon-pinterest"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Linkuri Utile</h4>

                        <ul class="widget-list">
                            <li><a routerLink="pages/about-2">Despre Noi</a></li>
                            <li><a href="javascript:;">Cum Să Cumperi</a></li>
                            <li><a routerLink="pages/faq">Intrebări Și Răspunsuri</a></li>
                            <li><a routerLink="pages/contact-1">Contactează-ne!</a></li>
                            <li><a routerLink="pages/login">Autentificare</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Serviciu Clienți</h4>

                        <ul class="widget-list">
                            <li><a href="javascript:;">Metode De Plată</a></li>
                            <li><a href="javascript:;">Returnare Bani!</a></li>
                            <li><a href="javascript:;">Retururi</a></li>
                            <li><a href="javascript:;">Transport</a></li>
                            <li><a href="javascript:;">Termeni Și Condiții</a></li>
                            <li><a href="javascript:;">Politica De Confidențialitate</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Contul Meu</h4>

                        <ul class="widget-list">
                            <li><a routerLink="/shop/dashboard">Înregistrare</a></li>
                            <li><a routerLink="/shop/cart">Vezi Coșul</a></li>
                            <li><a routerLink="/shop/wishlist">Favorite</a></li>
                            <li><a href="javascript:;">Urmarește Comanda</a></li>
                            <li><a href="javascript:;">Ajutor</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div [ngClass]="containerClass">
            <p class="footer-copyright">Copyright © {{ year }} SnowSuit Store. Toate drepturile rezervate.</p>
            <figure class="footer-payments">
                <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20" />
            </figure>
        </div>
    </div>

    <div class="mb-10" *ngIf="isBottomSticky"></div>
</footer>