<main class="main">
    <nav class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Acasă</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/pages/about-2">Pagini</a>
                </li>
                <li class="breadcrumb-item active">404</li>
            </ol>
        </div>
    </nav>

    <div class="error-content text-center position-relative"
        style="background-image: url(assets/images/backgrounds/error-bg.jpg); margin-bottom: -1px;">
        <div class="container">
            <h1 class="error-title">Eroare 404</h1>
            <p>Ne pare rău, această pagină nu poate fi găsită.</p>
            <a routerLink="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>ACASĂ</span>
                <i class="icon-long-arrow-right"></i>
            </a>
        </div>
    </div>
</main>