<div class="header-search">
    <a href="javascript:;" class="search-toggle" role="button" (click)="searchToggle($event)">
        <i class="icon-search"></i>
    </a>

    <form action="#" method="get" (click)="showSearchForm($event)" (submit)="submitSearchForm($event)">
        <div class="header-search-wrapper">
            <label for="q" class="sr-only">Caută</label>
            <input type="text" class="form-control" name="searchTerm" id="searchTerm" placeholder="Căutare produs ..."
                required (input)="searchProducts($event)" />
        </div>

        <div class="live-search-list" *ngIf="searchTerm.length > 2">
            <div class="autocomplete-suggestions" *ngIf="suggestions.length > 0" (click)="goProductPage()">
                <a [routerLink]="'/product/default/' + product.slug" class="autocomplete-suggestion"
                    *ngFor="let product of suggestions">
                    <figure class="mb-0 mr-3" style="width: 40px; height: 40px;">
                        <molla-image [src]="SERVER_URL + product.sm_pictures[0].url" width="40" height="40"
                            alt="Product" class="bg-transparent">
                        </molla-image>
                    </figure>

                    <div class="search-name" [innerHTML]="matchEmphasize(product.name) | safeContent"></div>
                    <span class="search-price">
                        <div class="product-price mb-0">
                            <span class="new-price" *ngIf="product.sale_price">
                                {{ product.sale_price.toFixed(2) }} Lei
                            </span>
                            <span class="old-price">
                                {{ product.price.toFixed(2) }} Lei
                            </span>
                        </div>
                    </span>
                </a>
            </div>
        </div>
    </form>
</div>