<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close" (click)="hideMobileMenu()"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search" (submit)="submitSearchForm($event)">
            <label for="mobile-search" class="sr-only">Caută</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Caută în..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li>
                    <a (click)="submenuToggle($event)">
                        Magazin
                        <span class="mmenu-btn"></span>
                    </a>
                    <ul>
                        <li><a routerLink="/shop/sidebar/list">Listă</a></li>
                        <li><a routerLink="/shop/sidebar/2cols">Grilă - 2 Coloane</a></li>
                        <li><a routerLink="/shop/sidebar/3cols">Grilă - 3 Coloane</a></li>
                        <li><a routerLink="/shop/sidebar/4cols">
                                <span>Grilă - 4 Coloane
                                    <span class="tip tip-hot">Azi</span>
                                </span>
                            </a>
                        </li>
                        <li><a routerLink="/shop/category/boxed">Lațime mică</a></li>
                        <li><a routerLink="/shop/category/fullwidth">
                                <span>Lațime completă
                                    <span class="tip tip-new">Nou</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sf-with-ul" (click)="submenuToggle($event)">
                        Produs
                        <span class="mmenu-btn"></span>
                    </a>
                    <ul>
                        <li>
                            <a routerLink="/product/default/tricouri-culori-neutre">
                                Pagină produs
                            </a>
                        </li>
                        <li><a routerLink="/shop/cart">Coș</a></li>
                        <li><a routerLink="/shop/checkout">Plată</a></li>
                        <li><a routerLink="/shop/wishlist">Favorite</a></li>
                        <li><a routerLink="/shop/dashboard">Contul Meu</a></li>
                    </ul>
                </li>
                <li>
                    <a (click)="submenuToggle($event)">
                        Pagini
                        <span class="mmenu-btn"></span>
                    </a>
                    <ul>
                        <li>
                            <a (click)="submenuToggle($event)"> Despre noi
                                <span class="mmenu-btn"></span>
                            </a>

                            <ul>
                                <li><a routerLink="/pages/about-1">Despre 1</a></li>
                                <li><a routerLink="/pages/about-2">Despre 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a (click)="submenuToggle($event)">
                                Contact
                                <span class="mmenu-btn"></span>
                            </a>

                            <ul>
                                <li><a routerLink="/pages/contact-1">Contact 1</a></li>
                                <li><a routerLink="/pages/contact-2">Contact 2</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/pages/login">Logare</a></li>
                        <li><a routerLink="/pages/faq">Întrebări & Răspunsuri</a></li>
                        <li><a routerLink="/pages/404">Eroare 404</a></li>
                        <li><a routerLink="/pages/coming-soon">Revenim curând</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="social-icons">
            <a href="javascript:;" class="social-icon" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="javascript:;" class="social-icon" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="javascript:;" class="social-icon" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="javascript:;" class="social-icon" title="Youtube"><i class="icon-youtube"></i></a>
        </div>
    </div>
</div>