<div class="main">
    <nav class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Acasă</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/pages/about-2">Pagini</a>
                </li>
                <li class="breadcrumb-item active">Despre Noi</li>
            </ol>
        </div>
    </nav>

    <div class="container">
        <div class="page-header page-header-big text-center"
            style="background-image: url('assets/images/about-header-bg.jpg')">
            <h1 class="page-title text-white">
                Despre Noi
                <span class="text-white">Cine suntem</span>
            </h1>
        </div>
    </div>

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <h2 class="title">Viziunea Noastră</h2>
                    <p>Ne propunem să construim un viitor mai bun, bazat pe inovație,
                        excelență și sustenabilitate.
                        Privim înainte cu determinare și creativitate,
                        urmărind să oferim soluții care transformă provocările în oportunități.
                        Credem într-o lume în care progresul este accesibil tuturor,
                        iar dezvoltarea continuă este cheia succesului.
                        Ne dorim să inspirăm, să educăm și să contribuim activ la o societate
                        mai echilibrată și mai conectată.
                        Prin pasiune, responsabilitate și angajament, ne asumăm rolul de a modela schimbarea
                        și de a influența pozitiv viitorul.
                        <br>
                        Împreună, putem crea un impact real!
                    </p>
                </div>

                <div class="col-lg-6">
                    <h2 class="title">Misiunea Noastră</h2>
                    <p>Misiunea noastră este de a crea valoare și de a inspira schimbarea.
                        e dedicăm excelenței, inovației și dezvoltării continue,
                        oferind soluții care răspund nevoilor reale ale oamenilor.
                        Credem în transparență, integritate și colaborare,
                        construind relații bazate pe încredere și respect reciproc.
                        Ne asumăm responsabilitatea de a aduce impact pozitiv în comunitate
                        și de a contribui la un viitor sustenabil.
                        Ne ghidăm după principii solide,
                        punând mereu calitatea și profesionalismul pe primul loc.
                        Prin pasiune și dedicare,
                        lucrăm zi de zi pentru a transforma idei în realitate.
                        <br>
                        Împreună, putem face diferența!
                    </p>
                </div>
            </div>

            <div class="mb-5"></div>
        </div>

        <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-3 mb-lg-0">
                        <h2 class="title">Cine Suntem</h2>
                        <p class="lead text-primary mb-3">
                            Suntem o echipă de oameni pasionați,
                            <br>
                            dedicați excelenței și inovației.
                        </p>
                        <p class="mb-2">
                            Ne dorim să creăm soluții care inspiră și aduc valoare,
                            punând mereu calitatea și profesionalismul pe primul loc.
                            Cu o viziune clară și principii solide, construim relații autentice
                            și oferim servicii care fac diferența.
                            Credem în transparență, colaborare și angajament, fiind mereu aici
                            pentru a oferi suport și a găsi cele mai bune soluții pentru fiecare nevoie.
                            Indiferent de provocări, suntem gata să evoluăm și să creștem,
                            adaptându-ne în permanență la un mediu dinamic.
                        </p>

                        <a routerLink="/pages/faq" class="btn btn-sm btn-minwidth btn-outline-primary-2">
                            <span>Vezi noutățile</span>
                            <i class="icon-long-arrow-right"></i>
                        </a>
                    </div>

                    <div class="col-lg-6 offset-lg-1">
                        <div class="about-images">
                            <img src="assets/images/about/img-1.jpg" alt="About" class="about-img-front" />
                            <img src="assets/images/about/img-2.jpg" alt="About" class="about-img-back" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <h2 class="title text-center mb-4">Echipa Noastră</h2>

            <owl-carousel [options]="teamOption">
                <div class="member member-anim text-center" *ngFor="let member of team">
                    <figure class="member-media">
                        <molla-image [src]="member.photo" width="376" height="500" alt="member photo"></molla-image>

                        <figcaption class="member-overlay">
                            <div class="member-overlay-content">
                                <h3 class="member-title">{{ member.name }}<span>{{ member.title }}</span></h3>
                                <p>
                                    Suntem aici pentru tine. Împreună putem construi un viitor mai bun!
                                </p>
                                <div class="social-icons social-icons-simple">
                                    <a href="javascript:;" class="social-icon" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="javascript:;" class="social-icon" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="javascript:;" class="social-icon" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="member-content">
                        <h3 class="member-title">{{ member.name }}<span>{{ member.title }}</span></h3>
                    </div>
                </div>
            </owl-carousel>
        </div>

        <div class="mb-2"></div>

        <div class="about-testimonials bg-light-2 pt-6 pb-6" style="margin-bottom: -1px;">
            <div class="container">
                <h2 class="title text-center mb-3">Ce spun clienții despre noi</h2>

                <owl-carousel [carouselClasses]="'owl-simple owl-testimonials-photo'" [options]='sliderOption'>
                    <blockquote class="testimonial text-center" *ngFor="let custom of customSay">
                        <img [src]="custom.photo" width="70" height="70" alt="user">
                        <p>{{custom.comment}}</p>
                        <cite>
                            {{custom.name}}
                            <span>{{custom.type}}</span>
                        </cite>
                    </blockquote>
                </owl-carousel>
            </div>
        </div>
    </div>
</div>