.ngx-slider .ngx-slider-pointer {
  width: 20px !important;
  height: 20px !important;
  top: -6px !important;
  border: 2px solid grey;
  background-color: #fff !important;
}

.ngx-slider .ngx-slider-pointer:after {
  display: none !important;
}

.ngx-slider .ngx-slider-bar {
  height: 8px !important;
}

.ngx-slider .ngx-slider-selection {
  background-color: grey !important;
  // background-color: $primary-color !important;
}

.ngx-slider .ngx-slider-bubble {
  // color: $primary-color !important;
  font-size: 14px !important;
}

.ngx-slider-model-value,
.ngx-slider-model-high {
  color: $primary-color !important;
  font-weight: 600;
}