<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Acountul Meu<span>Magazin</span></h1>
        </div>
    </div>
    <nav class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Acasă</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/shop/sidebar/4cols">Magazin</a>
                </li>
                <li class="breadcrumb-item active">Acountul Meu</li>
            </ol>
        </div>
    </nav>

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist" tabClick>
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript:;" role="tab"
                                    (click)="nav.select('tab-1')">Panou de control</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;" role="tab"
                                    (click)="nav.select('tab-2')">Comenzile Mele</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;" role="tab"
                                    (click)="nav.select('tab-3')">Descărcări</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;" role="tab"
                                    (click)="nav.select('tab-4')">Adrese</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:;" role="tab" (click)="nav.select('tab-5')">
                                    Detalii Acount
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/">Ieșire</a>
                            </li>
                        </ul>
                    </aside>

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <ul ngbNav #nav="ngbNav">
                                <li [ngbNavItem]="'tab-1'">
                                    <ng-template ngbNavContent>
                                        <p>Salut <span class="font-weight-normal text-dark">User </span>
                                            (not <span class="font-weight-normal text-dark">User </span>?
                                            <a routerLink="/">Log out</a>)
                                            <br>
                                            Din acountul tău poți vedea <a href="javascript:;"
                                                (click)="nav.select('tab-2'); viewTab( $event, 0, 1 );"
                                                class="tab-trigger-link link-underline">comenzile recente</a>
                                            , să editezi
                                            <a href="javascript:;"
                                                (click)="nav.select('tab-2'); viewTab( $event, 0, 3 );"
                                                class="tab-trigger-link">adresele de transport și facturare</a>
                                            , și
                                            <a href="javascript:;"
                                                (click)="nav.select('tab-2'); viewTab( $event, 0, 4 );"
                                                class="tab-trigger-link">
                                                să schimbi parola sau să editeazi detaliile acountului,
                                            </a>.
                                        </p>
                                    </ng-template>
                                </li>

                                <li [ngbNavItem]="'tab-2'">
                                    <ng-template ngbNavContent>
                                        <p>Nicio comandă incă.</p>
                                        <a routerLink="/shop/sidebar/list" class="btn btn-outline-primary-2">
                                            <span>Mergi la Magazin</span><i class="icon-long-arrow-right"></i>
                                        </a>
                                    </ng-template>
                                </li>

                                <li [ngbNavItem]="'tab-3'">
                                    <ng-template ngbNavContent>
                                        <p>Nicio comandă disponibilă incă.</p>
                                        <a routerLink="/shop/sidebar/list" class="btn btn-outline-primary-2">
                                            <span>Mergi la Magazin</span><i class="icon-long-arrow-right"></i>
                                        </a>
                                    </ng-template>
                                </li>

                                <li [ngbNavItem]="'tab-4'">
                                    <ng-template ngbNavContent>
                                        <p>Acestea sunt adresele dvs.</p>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Adresa de Facturare</h3>

                                                        <p>User Name<br>
                                                            User Company<br>
                                                            Adresa, str<br>
                                                            București, Sector 1<br>
                                                            +40766999777<br>
                                                            {{email}}<br>
                                                            <a href="javascript:;">Editează
                                                                <i class="icon-edit"></i>
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="card card-dashboard">
                                                    <div class="card-body">
                                                        <h3 class="card-title">Adresa de destinație</h3>

                                                        <p>Nu ați setat această adresă incă.<br>
                                                            <a href="javascript:;">Editează
                                                                <i class="icon-edit"></i>
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>

                                <li [ngbNavItem]="'tab-5'">
                                    <ng-template ngbNavContent>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Prenume *</label>
                                                    <input type="text" class="form-control" required>
                                                </div>

                                                <div class="col-sm-6">
                                                    <label>Nume *</label>
                                                    <input type="text" class="form-control" required>
                                                </div>
                                            </div>

                                            <label>Nume afișat *</label>
                                            <input type="text" class="form-control" required>
                                            <small class="form-text">
                                                Acest nume va fi folosit pe site și în secțiunea de păreri.
                                            </small>

                                            <label>Email *</label>
                                            <input type="email" class="form-control" required>

                                            <label>Parola curentă (lasă gol sau neschimbat)</label>
                                            <input type="password" class="form-control">

                                            <label>Parolă nouă (lasă gol sau neschimbat)</label>
                                            <input type="password" class="form-control">

                                            <label>Confirmare parolă nouă</label>
                                            <input type="password" class="form-control mb-2">

                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SALVEAZĂ</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                    </ng-template>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>