<main class="main">
    <nav class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">Acasă</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/pages/contact-2">Pagini</a>
                </li>
                <li class="breadcrumb-item active">Contactează-ne</li>
            </ol>
        </div>
    </nav>

    <div class="container">
        <div class="page-header page-header-big text-center"
            style="background-image: url('assets/images/contact-header-bg.jpg')">
            <h1 class="page-title text-white">Contactează-ne
                <span class="text-white">Ține legătura cu noi!</span>
            </h1>
        </div>
    </div>

    <div class="page-content pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-2 mb-lg-0">
                    <h2 class="title mb-1">Informații Generale</h2>
                    <p class="mb-3">
                        Ne puteți contacta direct la sediul pricipal al firmei
                        sau la birourile aflate in fiecare județ din țară.
                    </p>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="contact-info">
                                <h3>Birou</h3>

                                <ul class="contact-list">
                                    <li>
                                        <i class="icon-map-marker"></i>
                                        Militari, Strada Pricipala, nr 260, București, Sector 1
                                    </li>
                                    <li>
                                        <i class="icon-phone"></i>
                                        <a href="tel:+40766222333">+40766.222.333</a>
                                    </li>
                                    <li>
                                        <i class="icon-envelope"></i>
                                        <a href="mailto:{{mail}}">{{mail}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="contact-info">
                                <h3>Orar</h3>

                                <ul class="contact-list">
                                    <li>
                                        <i class="icon-clock-o"></i>
                                        <span class="text-dark">Luni-Vineri</span> <br>11.00-19.00
                                    </li>
                                    <li>
                                        <i class="icon-calendar"></i>
                                        <span class="text-dark">Duminică</span> <br>Închis
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="title mb-1">Aveți întrebări?</h2>
                    <p class="mb-2">Folosiți formularul pentru a lua legătura cu echipa de vânzări</p>

                    <form action="#" class="contact-form mb-3">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cname" class="sr-only">Nume</label>
                                <input type="text" class="form-control" id="cname" placeholder="Nume *" required>
                            </div>

                            <div class="col-sm-6">
                                <label for="cemail" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="cemail" placeholder="Email *" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="cphone" class="sr-only">Telefon</label>
                                <input type="tel" class="form-control" id="cphone" placeholder="Telefon">
                            </div>

                            <div class="col-sm-6">
                                <label for="csubject" class="sr-only">Titlu</label>
                                <input type="text" class="form-control" id="csubject" placeholder="Titlu">
                            </div>
                        </div>

                        <label for="cmessage" class="sr-only">Mesaj</label>
                        <textarea class="form-control" cols="30" rows="4" id="cmessage" required
                            placeholder="Mesaj *"></textarea>

                        <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                            <span>TRIMITE</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                    </form>
                </div>
            </div>

            <hr class="mt-4 mb-5">

            <div class="stores mb-4 mb-lg-5">
                <h2 class="title text-center mb-3">Magazinele Noastre</h2>

                <div class="row text-center">
                    <div class="col-lg-6">
                        <div class="store">
                            <div class="row">
                                <div class="col-sm-5 col-xl-6">
                                    <figure class="store-media mb-2 mb-lg-0">
                                        <img src="assets/images/stores/img-1.jpg" class="ml-auto mr-auto ml-sm-0"
                                            width="277" height="277" alt="image" />
                                    </figure>
                                </div>
                                <div class="col-sm-7 col-xl-6">
                                    <div class="store-content">
                                        <h3 class="store-title">Plaza Mall</h3>
                                        <address>Strada Timișoara, nr. 122</address>
                                        <div><a href="tel:+40799111222">+40799.111.222</a></div>

                                        <h4 class="store-subtitle">Orar:</h4>
                                        <div>Luni - Sâmbătă 11.00 - 19.00</div>
                                        <div>Duminicâ 11.00 - 18.00</div>

                                        <a href="javascript:;" class="btn btn-link">
                                            <span>Vezi Harta</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="store">
                            <div class="row">
                                <div class="col-sm-5 col-xl-6">
                                    <figure class="store-media mb-2 mb-lg-0">
                                        <img src="assets/images/stores/img-2.jpg" class="ml-auto mr-auto ml-sm-0"
                                            width="277" height="277" alt="image" />
                                    </figure>
                                </div>

                                <div class="col-sm-7 col-xl-6">
                                    <div class="store-content">
                                        <h3 class="store-title">Snow Suit Store</h3>
                                        <address>Strada Îngustă, 22, Brașov</address>
                                        <div><a href="tel:+00755668899">+40755.668.899</a></div>

                                        <h4 class="store-subtitle">Orar:</h4>
                                        <div>Luni - Vineri 9.00 - 18.00</div>
                                        <div>Sâmbătă 9.00 - 14.00</div>
                                        <div>Sunday - Închis</div>

                                        <a href="javascript:;" class="btn btn-link">
                                            <span>Vezi Harta</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div id="map">
            <div *ngIf="apiLoaded | async">
                <google-map></google-map>
            </div>
        </div> -->

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.228522375536!2d26.032176277351063!3d44.42847440194333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201b5f3164efb%3A0xf58f1b78be7f0c97!2sPlaza%20Rom%C3%A2nia!5e0!3m2!1sro!2sro!4v1746703060675!5m2!1sro!2sro"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

    </div>
</main>