<nav class="main-nav">
    <ul class="menu sf-arrows">
        <li class="megamenu-container" [class.active]="current=='/'">
            <a routerLink="/" class="sf-with-ul first-elem" style="padding-right: 0;">Acasă</a>
        </li>
        <li [class.active]="current.includes('/shop')">
            <a class="sf-with-ul">Magazin</a>

            <div class="megamenu megamenu-md">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="menu-col">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="menu-title">MAGAZIN</div>
                                    <ul>
                                        <li [class.active]="current.includes('shop/sidebar/list')">
                                            <a routerLink="/shop/sidebar/list">Listă</a>
                                        </li>
                                        <li [class.active]="current.includes('shop/sidebar/2cols')">
                                            <a routerLink="/shop/sidebar/2cols">Grilă - 2 Coloane</a>
                                        </li>
                                        <li [class.active]="current.includes('shop/sidebar/3cols')">
                                            <a routerLink="/shop/sidebar/3cols">Grilă - 3 Coloane</a>
                                        </li>
                                        <li [class.active]="current.includes('shop/sidebar/4cols')">
                                            <a routerLink="/shop/sidebar/4cols">Grilă - 4 Coloane</a>
                                        </li>
                                    </ul>

                                </div>

                                <div class="col-md-6">

                                    <div class="menu-title">CATEGORIE PRODUSE</div>
                                    <ul>
                                        <li [class.active]="current.includes('shop/category/boxed')">
                                            <a routerLink="/shop/category/boxed">
                                                Lațime mică
                                            </a>
                                        </li>
                                        <li [class.active]="current.includes('shop/category/fullwidth')">
                                            <a routerLink="/shop/category/fullwidth">
                                                <span>
                                                    Lațime completă
                                                    <span class="tip tip-new">Nou</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="banner banner-overlay">
                            <a routerLink="/shop/sidebar/list" class="banner banner-menu">
                                <img src="assets/images/menu/banner-1.jpg" alt="Banner" width="218" height="314" />

                                <div class="banner-content banner-content-top">
                                    <div class="banner-title text-white">
                                        Ultima
                                        <br />Șansă
                                        <br />
                                        <span>
                                            <strong>OnLine</strong>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li [class.active]="current.includes('/product/')">
            <a class="sf-with-ul">Produs</a>

            <div class="megamenu megamenu-sm">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="menu-col">

                            <div class="menu-title">DETALII PRODUS</div>
                            <ul>
                                <li [class.active]="current.includes('product/default')">
                                    <a routerLink="/product/default/tricouri-culori-neutre">
                                        Pagină produs
                                    </a>
                                </li>
                            </ul>

                            <div class="menu-title">PAGINILE MAGAZINULUI</div>
                            <ul>
                                <li [class.active]="current.includes('shop/cart')">
                                    <a routerLink="/shop/cart">Coș</a>
                                </li>
                                <li [class.active]="current.includes('shop/checkout')">
                                    <a routerLink="/shop/checkout">Plată</a>
                                </li>
                                <li [class.active]="current.includes('shop/wishlist')">
                                    <a routerLink="/shop/wishlist">Favorite</a>
                                </li>
                                <li [class.active]="current.includes('shop/dashboard')">
                                    <a routerLink="/shop/dashboard">Contul Meu</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="banner banner-overlay">
                            <a routerLink="/shop/sidebar/list">
                                <img src="assets/images/menu/banner-2.jpg" alt="Banner" width="218" height="310" />

                                <div class="banner-content banner-content-bottom">
                                    <div class="banner-title text-white">
                                        Tendințe
                                        <br />
                                        <span>
                                            <strong>Iarnă 2025</strong>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li [class.active]="current.includes('/pages')">
            <a class="sf-with-ul">Pagini</a>

            <ul>
                <li>
                    <a class="sf-with-ul">Despre noi</a>

                    <ul>
                        <li [class.active]="current.includes('pages/about-1')">
                            <a routerLink="/pages/about-1">Despre 1</a>
                        </li>
                        <li [class.active]="current.includes('pages/about-2')">
                            <a routerLink="/pages/about-2">Despre 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sf-with-ul">Contact</a>

                    <ul>
                        <li [class.active]="current.includes('pages/contact-1')">
                            <a routerLink="/pages/contact-1">Contact 1</a>
                        </li>
                        <li [class.active]="current.includes('pages/contact-2')">
                            <a routerLink="/pages/contact-2">Contact 2</a>
                        </li>
                    </ul>
                </li>
                <li [class.active]="current.includes('pages/login')">
                    <a routerLink="/pages/login">Logare</a>
                </li>
                <li [class.active]="current.includes('pages/faq')">
                    <a routerLink="/pages/faq">Întrebări & Răspunsuri</a>
                </li>
                <li [class.active]="current.includes('pages/404')">
                    <a routerLink="/pages/404">Eroare 404</a>
                </li>
                <li [class.active]="current.includes('pages/coming-soon')">
                    <a routerLink="/pages/coming-soon">Revenim curând</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>