<main class="main home-page skeleton-body">
    <section class="logos">

        <div class="inside">
            <div class="container">

                <owl-carousel carouselClasses="owl-simple" [options]="brandSlider">
                    <a href="javascript:;" class="brand">
                        <img src="assets/images/home/brands/1.png" alt="Brand Name">
                    </a>

                    <a href="javascript:;" class="brand">
                        <img src="assets/images/home/brands/2.png" alt="Brand Name">
                    </a>

                    <a href="javascript:;" class="brand">
                        <img src="assets/images/home/brands/3.png" alt="Brand Name">
                    </a>

                    <a href="javascript:;" class="brand">
                        <img src="assets/images/home/brands/4.png" alt="Brand Name">
                    </a>

                    <a href="javascript:;" class="brand">
                        <img src="assets/images/home/brands/5.png" alt="Brand Name">
                    </a>

                    <a href="javascript:;" class="brand">
                        <img src="assets/images/home/brands/6.png" alt="Brand Name">
                    </a>

                    <a href="javascript:;" class="brand">
                        <img src="assets/images/home/brands/7.png" alt="Brand Name">
                    </a>

                    <a href="javascript:;" class="brand">
                        <img src="assets/images/home/brands/8.png" alt="Brand Name">
                    </a>
                </owl-carousel>
            </div>
        </div>

    </section>

    <section class="banners center">
        <div class="container">
            <div class="row">
                <div class="banner col-lg-4 col-md-6 col-sm-6" contentAnim aniName="fadeInRightShorter">
                    <div class="w-100 banner-overlay position-relative">
                        <a href="javascript:;" class="position-static">
                            <molla-image src="assets/images/home/banners/banner-1.jpg" alt="Banner" width="360"
                                height="500"></molla-image>
                        </a>
                        <div class="intro">
                            <div class="title">
                                <h3 style="color: #fcb941;">Reduceri</h3>
                            </div>
                            <div class="content">
                                <h4>Sporturi<br>De Iarnă</h4>
                            </div>
                            <div class="action">
                                <a routerLink="/shop/sidebar/4cols">Intră</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="banner percent col-lg-4 col-md-6 col-sm-6" contentAnim aniName="fadeInUpShorter">
                    <div class="w-100 banner-overlay position-relative">
                        <a href="javascript:;" class="position-static">
                            <molla-image src="assets/images/home/banners/banner-2.jpg" alt="Banner" width="430"
                                height="540"></molla-image>
                        </a>
                        <div class="intro">
                            <div class="title">
                                <h3 style="color: #fcb941;">Iarnă</h3>
                                <h4>Reduceri</h4>
                            </div>
                            <div class="img-percent">
                                <img src="assets/images/home/banners/percent.png" width="190" height="75">
                            </div>
                            <div class="content">
                                <h4>* Dacă cumperi un produs,<br> primești două.</h4>
                            </div>
                            <div class="action">
                                <a routerLink="/shop/sidebar/4cols">Descoperă</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="banner col-lg-4 col-md-6 col-sm-6" contentAnim aniName="fadeInLeftShorter">
                    <div class="w-100 banner-overlay position-relative">
                        <a href="javascript:;" class="position-static">
                            <molla-image src="assets/images/home/banners/banner-3.jpg" alt="Banner" width="360"
                                height="500"></molla-image>
                        </a>
                        <div class="intro">
                            <div class="title">
                                <h3 style="color: #fcb941;">Mega afacere</h3>
                            </div>
                            <div class="content">
                                <h4>Camping &<br> Accesorii</h4>
                            </div>
                            <div class="action">
                                <a routerLink="/shop/sidebar/4cols">Intră</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative" style="z-index: 1;">
        <molla-top-collection [products]="products | attrFilter:'top'" [loaded]="loaded"></molla-top-collection>
    </div>

    <section class="banners stretch mt-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 banner-lg" contentAnim aniName="fadeInRightShorter">
                    <figure class="mb-0" style="background-color: #6b534f;">
                        <molla-image src="assets/images/home/banners/banner-4.jpg" alt="banner" width="960"
                            height="600"></molla-image>
                    </figure>
                    <div class="intro">
                        <div class="title">
                            <h3 style="color: #fcb941;"><i>Tendințe</i></h3>
                        </div>
                        <div class="content">
                            <h4>Campare & Cațărare</h4>
                            <p>La noi gasești gamă diversificată de produse.
                                <br>Toate modele sunt disponibile la comandă.
                            </p>
                        </div>
                        <div class="action">
                            <a routerLink="/shop/sidebar/list">Descoperă</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12 banner-sm-div">
                    <div class="col-lg-6 col-md-6 col-sm-6 banner-sm font-black" contentAnim
                        aniName="fadeInDownShorter">
                        <figure class="mb-0" style="background-color: #f3f3f3;">
                            <molla-image src="assets/images/home/banners/banner-5.jpg" alt="banner" width="480"
                                height="300"></molla-image>
                        </figure>
                        <div class="intro">
                            <div class="title">
                                <h3>Femei</h3>
                            </div>
                            <div class="content">
                                <h4>Sport &<br> Fitness</h4>
                            </div>
                            <div class="action">
                                <a routerLink="/shop/sidebar/4cols">Intră</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 banner-sm font-white" contentAnim
                        aniName="fadeInDownShorter">
                        <figure class="mb-0" style="background-color: #42412f;">
                            <molla-image src="assets/images/home/banners/banner-6.jpg" alt="banner" width="480"
                                height="300"></molla-image>
                        </figure>
                        <div class="intro">
                            <div class="title">
                                <h3 style="color: #fcb941;">Noutăți</h3>
                            </div>
                            <div class="content">
                                <h4>Discounturi mari<br> de sezon</h4>
                            </div>
                            <div class="action">
                                <a routerLink="/shop/sidebar/3cols">Descoperă</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 banner-sm font-white" contentAnim aniName="fadeInUpShorter">
                        <figure class="mb-0" style="background-color: #a5bdd7;">
                            <molla-image src="assets/images/home/banners/banner-7.jpg" alt="banner" width="480"
                                height="300"></molla-image>
                        </figure>
                        <div class="intro">
                            <div class="title">
                                <h3>Bărbați</h3>
                            </div>
                            <div class="content">
                                <h4>Haine &<br>Accesorii</h4>
                            </div>
                            <div class="action">
                                <a routerLink="/shop/sidebar/4cols">Intră</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 banner-sm font-black" contentAnim aniName="fadeInUpShorter">
                        <figure class="mb-0" style="background-color: #f3f3f3;">
                            <molla-image src="assets/images/home/banners/banner-8.jpg" alt="banner" width="480"
                                height="300"></molla-image>
                        </figure>
                        <div class="intro">
                            <div class="title">
                                <h3 style="color: #fcb941;">Copii</h3>
                            </div>
                            <div class="content">
                                <h4 style="color: #fff;">Haine cu stil<br>pentru tabere</h4>
                            </div>
                            <div class="action">
                                <a routerLink="/shop/sidebar/list">Intră</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative" style="z-index: 1;">
        <molla-featured-collection [products]="products | attrFilter:'featured'" [loaded]="loaded">
        </molla-featured-collection>
    </div>

    <section class="video-banner">
        <div class="w-100 banner-overlay">
            <a href="javascript:;" style="position: static; cursor: default;">
                <molla-image src="assets/images/home/video-banner/banner.jpg" alt="Video Banner" width="1920"
                    height="600"></molla-image>
            </a>

            <div class="intro video" contentAnim aniName="fadeIn">
                <div class="title">
                    <h3><i>Toamnă / Iarnă</i></h3>
                </div>
                <div class="content">
                    <h4>Noua Colecție<br>2025</h4>
                </div>
                <div class="action">
                    <a href="https://www.youtube.com/watch?v=iys_pmJSp9M" class="btn-iframe"
                        (click)="showVideoModal($event)"><i class="icon-play"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="subscribe">
        <div class="container">
            <div class="heading">
                <p class="heading-cat">Stai conectat cu ultimile vești!</p>
                <h3 class="heading-title">Aboneză-te acum!</h3>
            </div>

            <div class="col-lg-6 subscribe-form">
                <form action="#">
                    <div class="input-group">
                        <input type="email" placeholder="Adresa ta de Email!" aria-label="Email Adress" required />
                        <div class="input-group-append">
                            <button class="btn btn-subscribe" type="submit"><span>Aplică</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="instagram mb-5">
        <div class="container">
            <div class="heading" contentAnim aniName="blurIn">
                <p class="heading-cat">Urmărește-ne pe Instagram!</p>
            </div>

            <owl-carousel carouselClasses="owl-simple" [options]="instagramSlider">
                <div class="instagram-feed p-0">
                    <figure class="mb-0">
                        <img src="assets/images/home/instagram/back-1.jpg" alt="Instagram" width="218" height="218">
                    </figure>
                    <div class="instagram-feed-content">
                        <a href="javascript:;"><i class="icon-heart-o"></i>466</a>
                        <a href="javascript:;"><i class="icon-comments"></i>65</a>
                    </div>
                </div>
                <div class="instagram-feed p-0">
                    <figure class="mb-0">
                        <img src="assets/images/home/instagram/back-2.jpg" alt="Instagram" width="218" height="218">
                    </figure>
                    <div class="instagram-feed-content">
                        <a href="javascript:;"><i class="icon-heart-o"></i>39</a>
                        <a href="javascript:;"><i class="icon-comments"></i>78</a>
                    </div>
                </div>
                <div class="instagram-feed p-0">
                    <figure class="mb-0">
                        <img src="assets/images/home/instagram/back-3.jpg" alt="Instagram" width="218" height="218">
                    </figure>
                    <div class="instagram-feed-content">
                        <a href="javascript:;"><i class="icon-heart-o"></i>691</a>
                        <a href="javascript:;"><i class="icon-comments"></i>87</a>
                    </div>
                </div>
                <div class="instagram-feed p-0">
                    <figure class="mb-0">
                        <img src="assets/images/home/instagram/back-4.jpg" alt="Instagram" width="218" height="218">
                    </figure>
                    <div class="instagram-feed-content">
                        <a href="javascript:;"><i class="icon-heart-o"></i>508</a>
                        <a href="javascript:;"><i class="icon-comments"></i>124</a>
                    </div>
                </div>
                <div class="instagram-feed p-0">
                    <figure class="mb-0">
                        <img src="assets/images/home/instagram/back-5.jpg" alt="Instagram" width="218" height="218">
                    </figure>
                    <div class="instagram-feed-content">
                        <a href="javascript:;"><i class="icon-heart-o"></i>433</a>
                        <a href="javascript:;"><i class="icon-comments"></i>27</a>
                    </div>
                </div>
                <div class="instagram-feed p-0">
                    <figure class="mb-0">
                        <img src="assets/images/home/instagram/back-6.jpg" alt="Instagram" width="218" height="218">
                    </figure>
                    <div class="instagram-feed-content">
                        <a href="javascript:;"><i class="icon-heart-o"></i>131</a>
                        <a href="javascript:;"><i class="icon-comments"></i>40</a>
                    </div>
                </div>
            </owl-carousel>
        </div>
    </div>
</main>